*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background-color: #222;
}
.card{
    background: linear-gradient(135deg, #00feba, #5b548a);
    width: 90%;
    max-width: 500px;
    height: 500px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin: 100px auto 0;
    padding: 40px 35px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #444;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 24px;
    position: relative;
    top: 5%;
    right: 1%;
}